.github/
.husky/
.vscode/
assets/
docs/
logs/
test/
dist/demo_funcs.js
dist/demo_funcs.d.ts
.eslint_cache
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierrc.json
eslint.config.js
index.html
tsconfig.json
tsconfig.prod.json
vitest.config.ts
