.babelrc
.eslintrc.json
.nvmrc
.prettierrc.yaml
.github
.husky
.eslintrc.json
.travis.yml
ava.config.js
demo_funcs.js
demo.ts
index.html
webpack.config.js
test
img
docs
assets
src
tsconfig.json
tsconfig.prod.json
tsconfig.dev.json
yarn.lock