// responsive breakpoints
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

$accentColor: #6c2820;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$altBgColor: #efefef;

$grassGreen: #aac052;
$adzeBrown: #5b3c23;
$sceneBrown: #755a49;
$typescriptBlue: #367ac4;

$white: #fff;
