/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #6c2820
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$altBgColor = #efefef

$adzeBrown = #5b3c23
$sceneBrown = #755a49
$typescriptBlue = #367ac4

$white = #fff